body {
            background: red;
            color: #000000;
            font-family: Arial, Times New Roman;
            font-size: 16px;
}
 
#container {
            background: blue;
            margin: auto;
            width: 1000px;
            height: 700px;
}
 
#header {
            background: olive;
            height: 100px;
            width: 1000px;
}
 
#menu_main {
            background: purple;	
			height: 50px;
            width: 1000px;
			
}
 
#menu_left {
            background: yellow;
            float: left;
            width: 200px;
            height: 350px;
}
 
#content {
            background: #d3d3d3;
            float: right;
            width: 700px;
            height: 400px;	
}



 

